@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    background-color: rgb(231, 234, 234);
}
.navbar{
    padding-top: 40px;
    display: flex;
    gap: 100px;
    cursor: pointer;
    justify-content: space-around;
}
.la:hover{
    text-decoration: underline;
    color: rgb(176, 92, 104);
}
.footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(75, 75, 102);
    color: white;
    padding: 100px;
}
.footer p{
    cursor: pointer;
}
.footer p:hover{
    color: rgb(49, 49, 61);
}
.footer h2{
    padding-bottom: 10px;
}
.Product{
    padding: 50px;
    display: flex;
       
}
.description{
    padding: 10px;
    display: flex;
    gap:100px;
}
.Product img{
    width: 50%;
    
}
.dis{
    text-decoration: line-through;
    color: red;
}

.buy{
    padding: 20px;
    padding-left: 1000px;
   
}
.total{
    padding-left: 1000px; 
}
.buy button{
    cursor: pointer;
    width: 50%;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(93, 240, 93);
}
.buy button:hover{
    background-color: green;
    color: white;
}
.cart1{
    width: 100%;
    display: flex;
    padding: 50px;
    box-shadow: 0px 5px 15px rgb(191, 190, 190);
}
.remove{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(225, 230, 230);
    width: 150px;
    border-radius: 30px;
    text-align: center;
}
.Author{
    padding-bottom: 30px;
}
.remove:hover{
    color: rgb(117, 153, 206);
}
.shop{
    padding: 40px;

}